<mat-grid-list cols="3" rowHeight="2:1">
  <!-- ====================================================  -->

  <mat-grid-tile colspan="2">
    <div class="container">
      <h1>Basic Info</h1>
      <form #heroForm="ngForm">
        {{diagnostic}}
        <br />
        <mat-form-field>
          <input
            matInput
            placeholder="nric"
            type="text"
            id="nric"
            [(ngModel)]="model.nric"
            name="nric"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="rank"
            type="text"
            id="rank"
            [(ngModel)]="model.rank"
            name="rank"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="name"
            type="text"
            id="name"
            [(ngModel)]="model.name"
            name="name"
          />
        </mat-form-field>

        <mat-checkbox id="comd" [(ngModel)]="model.comd" name="comd">
          Comd
        </mat-checkbox>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="container">
    <h1>Appraisal</h1>
    <mat-form-field>
      <input
        matInput
        placeholder="nric"
        type="text"
        id="nric"
        [(ngModel)]="model.nric"
        name="nric"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="rank"
        type="text"
        id="rank"
        [(ngModel)]="model.rank"
        name="rank"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="name"
        type="text"
        id="name"
        [(ngModel)]="model.name"
        name="name"
      />
    </mat-form-field>

    <mat-checkbox id="comd" [(ngModel)]="model.comd" name="comd">
      Comd
    </mat-checkbox>
    <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
